@import "tailwindcss";

@layer base {
  html {
    
  }
}
@theme {
  --color-dark-bg: #020617;
  --color-neon-cyan: #22d3ee;
  --color-neon-pink: #f472b6;
  --color-glass: rgba(255, 255, 255, 0.03);
  --color-glass-border: rgba(255, 255, 255, 0.1);

  /* Meteor animasyonu */
  /* global.css içinde */
@keyframes meteor {
    0% { 
      /* 160 derece: Sağ üstten sol alta çok daha şık ve yatay bir açı sağlar */
      transform: rotate(160deg) translateX(0); 
      opacity: 1; 
    }
    70% { 
      opacity: 1; 
    }
    100% { 
      /* Mesafeyi 1500px yaptık ki ekranın dışına tamamen çıksın */
      transform: rotate(160deg) translateX(1500px); 
      opacity: 0; 
    }
  }
}

:root {
  background-color: var(--color-dark-bg);
  color: white;
  overflow-x: hidden;
}

/* Arka plandaki hareketli aura animasyonu */
@keyframes float {
  0% { transform: translate(0px, 0px); }
  50% { transform: translate(30px, 50px); }
  100% { transform: translate(0px, 0px); }
}

.animate-float {
  animation: float 10s ease-in-out infinite;
}
.animate-meteor-effect {
  will-change: transform;
  transform: translateZ(0); /* Donanım hızlandırmasını tetikler */
}
